name = "WilliamsonTransforms"
uuid = "48feb556-9bdd-43a2-8e10-96100ec25e22"
authors = ["Oskar Laverny <oskar.laverny@gmail.com> and contributors"]
version = "0.1.1"

[deps]
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Roots = "f2b01f46-fcfa-551c-844a-d8ac1e96c665"
TaylorSeries = "6aa5eb33-94cf-58f4-a9d0-e4b2c4fc25ea"

[compat]
Distributions = "0.25"
Roots = "2"
TaylorSeries = "0.15"
julia = "1"

[extras]
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
TestItemRunner = "f8b46487-2199-4994-9208-9a1283c18c0a"

[targets]
test = ["Test", "TestItemRunner", "SpecialFunctions"]
